.header {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
}

.logo-container {
    flex-shrink: 0;
}
.logo {
    width: 150px;
}

.nav-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding-right: 20px;
}

.nav-items > ul {
    display: flex;
   font-size: 25px;
   list-style: none;
   gap: 60px;
   padding:0px 50px;
   margin: 0;
}


.search {
   padding: 10px 5px 10px 5px;
}

.res-container {
    border-style: groove;
    display: flex;
    flex-wrap: wrap;
    

}

.rescard {
    border:1px solid black;
    width: 400px;
    padding:5px;
    background-color: azure;
    font-style: italic;
    font-size: large;
    margin: 5px;
}
 .rescard:hover {
    cursor: pointer;
    border: 3px solid black;
 }

.reslogo {
   height: 250px;
   width: 400px;
}
   
.filter-btn {
   margin: 10px;
   cursor:pointer;
   border: 1px solid black;
}

.shimmer-container {
   display: flex;
   flex-wrap: wrap;
}

.shimmer-card {
    margin: 20px;
    width: 400px;
    height: 600px;
    background-color:rgb(194, 241, 241);

}


.login {

    font-size:22px;
    cursor: pointer;
    width: 200px;
    height: 50px;
}

.filter {
   display: flex;
   gap:50px;

}
/* .search-box or input we can do */
.search-box {
     width: 500px;
     height: 40px;
     font-size: 20px;
}

.search-btn {
    height: 43px;
    width:90px;
    padding: 1px;
}

.user-card {
    padding:10px;
    border:1px solid black;
}